[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/faheem/flutter_projects/flutter-mobile.onlinecheckwriter.com/assets/test.html
Type=Link
URL=file:///home/faheem/flutter_projects/flutter-mobile.onlinecheckwriter.com/assets/test.html
Icon=text-html
Name[en_IN]=index.html
